<html>
<head>
  <title>Convert your File Now!</title>
  <script type='text/javascript' src='/static/index.js'></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
</head>
<body>
  <main>
    <div>Work in progress. Use the below form to upload your selected Mp4</div>
    <form class='upload-form' action='/upload' method='POST' enctype='multipart/form-data'>
      <div>Maximum size: 40kb</div>
      <label>Click the button to upload!</label>
      <!-- TODO: Might want to use AJAX to handle form submit to prevent unnecessary redirect -->
      <input type='file' name='mp4-upload' id='mp4-upload'>
      <input type='submit' name='upload-form-submit' id='mp4-upload-submit' disabled>
    </form>
    <div class='warning-message'></div>
    <div class='download-file'></div>
  </main>
</body>
</html>